name: annms-pro
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [dev]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy-prod:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2    
      - name: deploy
        uses: glopezep/helm@v1.7.1
        with:
          helm: helm
          release: annms-prod-application
          namespace: annms-prod
          chart: helm
        env:
          KUBECONFIG_FILE: '${{ secrets.KUBECONFIG }}'